@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
html
{
    scroll-behavior: smooth;
}
.container
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url(back.jpg);
    background-size: cover;
    background-position: center;
}
nav 
{
    position: fixed;
    width: 100%;
    margin: auto;
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.logo
{
    color: aliceblue;
    font-size:50px;
    letter-spacing:2px;
    text-shadow: rgb(2, 2, 252);
    font-family: 'PT Serif', serif;
    text-transform:uppercase;
}
span
{
    color:rgb(2, 2, 252);
}
nav ul li
{
    list-style-type: none;
    display:inline-block;
    margin:0 20px;
    position: relative;
}
nav ul li a 
{
    text-decoration:none;
    color:#fff;
    text-transform: uppercase;
    font-weight: 400;
}
nav ul li::after
{
    content: '';
    height: 3px;
    width:0;
    background:#fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: .5s;
}
nav ul li:hover::after
{
    width: 100%;
}
.sticky
{
    background-color: #000;
}
.content
{
    width: 100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color:#fff;
}
.content h1 
{
    font-size: 80px;
    margin-top:80px;
    letter-spacing:2px;
    font-family: 'PT Serif', serif;
    animation:animate .5s ease 1;
}
.content p 
{
    margin:20px auto;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    line-height:20px;
    color:rgb(2, 2, 252);
}
.btn  
{
    width:180px;
    padding:10px 0;
    text-align:center;
    margin: 20px 10px;
    font-size: 22px;
    background: transparent;
    border: none;
    box-shadow: 5px 5px 5px 5px rgb(2, 2, 252);
    color:#fff;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .5s;
}
.btn:hover
{
    color:rgb(2, 2, 252);
    background-color: #fff;
}
@keyframes animate 
{
    0%
    {
        transform: scale(0.6,0.7);
        color: rgb(2, 2, 252);
    }
}
/*---------about section----------------*/
#section-1
{
    min-height:70vh;
    display:flex;
    justify-content: center;
}
.about
{
    background: url(ex2.jpg) no-repeat left;
    background-size: 100%;
    background-color: whitesmoke;
    overflow: hidden;
    padding:140px 0;
}
.inner-content
{
    width:55%;
    float: right;
    background-color: transparent;
    padding: 140px;
}
.inner-content h1 
{
    margin-bottom:30px;
    font-size:60px;
    font-weight:bold;
    color:rgb(2, 2, 252);
    display:hidden;
}
.text
{
    font-size:25px;
    line-height:30px;
    text-align: justify;
    margin-bottom: 40px;
}
.btn fa 
{
    padding:5px;
    font-size:25px;
    transition: .5s ease;
}
.btn:hover .fa 
{
    transform:translateX(3px);
}
/*----------------------card design------------*/
#grid-design
{
    margin:40px 10%;
}
#grid-design h1
{
    font-size:60px;
    text-align: center;
    font-weight:bold;
    color:rgb(2, 2, 252);
}
#grid-design p
{
    font-size:25px;
    text-align:center;
}
.grid-layout
{
    justify-content: center;
    display: flex;
    align-items: center;
}
.grid 
{
    margin:20px 50px;
    display: grid;
    width: 100%;
    grid-template-columns: 1.0fr 1.0fr 1.0fr;
    grid-gap: 35px;
}
.grid-item
{
    background-color: whitesmoke;
    overflow: hidden;
    box-shadow:5px 5px 5px 0 slategray;
    cursor:pointer;
    transition: 0.5s ;
}
.grid-item:hover
{
    transform:translateY(-6px);
    box-shadow: 0 5px 5px 5px whitesmoke;
}
.card-img 
{
    display: block;
    width: 100%;
    height:40vh;
    object-fit: cover;
}
.card-content
{
    padding:10px;
}
.card-header
{
    font-size:30px;
    font-weight:bold;
    color:rgb(2, 2, 252);
    letter-spacing: 1px;
}
.card-text
{
    font-size:15px;
    padding:10px;
    line-height: 20px;
    margin-bottom: 10px;
    font-family: 'PT Serif', serif;
}
.card-btn
{
    display: block;
    width: 100%;
    padding: 15px;
    font-size:20px;
    text-align: center;
    border: none;
    background-color:rgb(2, 2, 252);
    cursor: pointer;
    letter-spacing: 1px;
    color:white;
}
/*----------------------services section--------*/
#services
{
    margin:70px 20%;
}
#services h1 
{
    font-size:60px;
    text-align:center;
    font-weight:bold;
    color:rgb(2, 2, 252);
}
#services p 
{
    font-size:25px;
    text-align:center;
}
.services-section
{
    margin-top:70px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url("back.jpg");
    background-size: cover;
    padding:40px 0;
}
.inner-width
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding:0 30px;
    overflow: hidden;
}
.section-title
{
    text-align:center;
    color:#fff;
    text-transform: uppercase;
}
.services-container
{
    margin:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.services-box
{
    max-width :230px;
    padding:40px;
    text-align:center;
    color:#fff;
    cursor: pointer;
    transition: 0.3s ease;
}
.services-icon
{
    display: inline-block;
    width: 100px;
    height: 100px;
    border:1px solid #fff;
    border-radius: 50px;
    background:grba(231,231,241,0.1);
    font-size:30px;
    margin-bottom: 30px;
    margin-top:30px;
    transition: 0.3s linear;
}
.services-icon i
{
    line-height :100px;
    font-size:50px;
    text-align:center;
}
.services-box:hover .services-icon
{
    background-color: rgb(2, 2, 252);;
    color:#fff;
}
.services-box:hover
{
    transform: translateY(-6px);
}
.services-title
{
    font-size:25px;
    margin-bottom:10px;
}
.services-text
{
    font-size:15px;
    justify-self: start;
}

/*----------------------------contact us section-----------------------------*/
.section{
    margin:15% 0px;
}
.contain 
{
    display:flex;
    background: rgb(2, 2, 252);
    padding: 30px;
    text-align: center;
    align-content: space-between;
}
.text
{
    font-size:30px;
    margin-right: 30%;
    padding:30px;
    font-weight:500;
    line-height: 30px;
    color: #fff;
}
.contain .btn 
{
    background: transparent;
    border:1px solid #fff;
    float: right;
}
.contain .btn:hover
{
    background:#fff;
}
.container-1 
{
    height: 60vh;
    background:rgb(158, 158, 243);
}
.about-sec
{
    display: inline-flex;
    margin:50px;
}
.about-box
{
    padding: 70px;
}
.about-box .text-2 h6 
{
    font-size:25px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
}
.about-box .text-2 p 
{
    justify-content: inherit;
    font-size:18px;
    padding: 5px 0;
}
.about-box .social
{
    padding: 5px;
    font-size:20px;
    border-radius: 5px;
    color: #fff;
}
.about-box .social .fa 
{
    border-radius:20px;
    background:#fff;
    padding:10px;
    transition: 0.3s ease;
}
.about-box .social .fa:hover 
{
    background: rgb(144, 144, 226);
}
.about-box .text-2 a 
{
    text-decoration: none;
    color: #000;
}
/*---------------------login--------------------*/

  .wrapper{
      overflow: scroll;
      max-width:100%;
    background: rgb(182, 158, 243);
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 800%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #2e02f5, #a38eec);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color:#f4f3f8;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color:rgb(2, 2, 252) ;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right,  #2e02f5,#a38eec, #2e02f5, #a38eec);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color:whitesmoke;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }